@media only screen and (max-width: 768px) {

    .box{
        width: 100%;
        margin:20px 0;
    }
    .box:hover{
        -moz-transform: scale(1.04);
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

}